@font-face {
    font-family: "Timeless";
    src: url("../fonts/Timeless.ttf");
}

@font-face {
    font-family: "Alegreya";
    src: url("../fonts/Alegreya/Alegreya-Regular.ttf");
}

@font-face {
    font-family: "Alegreya";
    font-weight: bold;
    src: url("../fonts/Alegreya/Alegreya-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

html,
body {
    margin: 0px;
}

html {
    background-color: #0b0b13;
}

body {
    background: url("../img/bg/2.jpg") center fixed;
    background-size: cover;
    font-family: "Timeless", Georgia, 'Times New Roman', Times, serif;
    color: black;
}

#out-wrap {
    min-height: 100vh;
    width: 100%;
    outline: none;
}

h1,
h2,
h3 {
    font-weight: normal;
    margin: 0px;
}

@keyframes notif-slide {
    from {
        bottom: -300px;
        position: fixed;
    }

    to {
        bottom: 32px;
        position: fixed;
    }
}

@keyframes notif-fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes notif-fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.magic-notification {
    background: rgba(17, 16, 23, 0.61);
    color: white;
    padding: 10px;
    z-index: 9000000;
    text-align: left;
    border-radius: 10px;
    font-size: 17px;
    font-family: "Timeless", sans-serif;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: max-content;
    min-width: 100px;
    padding-right: 20px;
    transition: 0.3s;
    animation-name: notif-slide;
    animation-duration: 0.5s;
}

.fade {
    animation-name: notif-fadeout;
    animation-duration: 0.8s;
}

.magic-notification i {
    float: left;
    vertical-align: middle;
    padding-left: 5px;
    font-size: 20px;
    padding-right: 10px;
}

#notif-section {
    bottom: 32px;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    text-align: center;
    width: max-content;
    z-index: 90000;
}

#banner {
    padding: 10px;
    color: white;
    text-align: center;
    background: #181821;
    margin-bottom: 40px;
    box-shadow: 0px 0px 6px #1a1a1a;
}

#banner img {
    height: 50px;
    cursor: pointer;
}

#banner h1 {
    color: #e00202;
    font-size: 40px;
}

#banner h2 {
    font-size: 16px;
}

#main {
    margin-left: 15px;
    text-align: center;
    padding-bottom: 60px;
    margin-right: 15px;
}

.playerBox {
    display: inline-block;
    background: rgba(255, 255, 255, 0.50);
    padding: 5px;
    box-shadow: black 0px 0px 3px;
    border-radius: 3px;
    margin: 10px;
    user-select: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    position: relative;
}

.playerTools {
    margin-top: 3px;
}

.playerTools .fa {
    font-size: 18px;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
    transition: 0.3s;
    color: black;
}

.playerTools .fa:hover {
    background: #1d1d1d;
    color: #FFC107;
}

.show_more {
    background: #1a1a1a;
    color: white;
    text-align: center;
    padding: 5px;
    width: 60px;
    position: absolute;
    bottom: -20px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
    transition: .5s;
}

.playerBox strong,
.label {
    font-family: "Alegreya", sans-serif;
}

.show_more:hover {
    color: gold;
    background: black;
}

.show_more i {
    font-size: 18px;
}

.playerBox img {
    max-height: 500px;
    border-radius: 5px;
    box-shadow: black 0px 0px 5px;
}

.playerInfo {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
    width: 510px;
    text-align: left;
    position: relative;
}

.playerInfo h3 {
    font-size: 35px;
    color: #1a1a1a;
    text-shadow: 0px 0px 1px black;
    font-family: "Alegreya";
}

.playerInfo p {
    margin: 0px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.skl_row {
    display: block;
    text-align: left;
    background: rgba(255, 255, 255, 0.859);
    box-shadow: black 0px 0px 2px;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}

.skl_smaller {
    font-size: 14px;
}

.skl_caption {
    font-weight: bold;
}

.skl_point {
    float: right;
    width: 20px;
    text-align: center;
}

.skl_tab {
    width: calc(49%);
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #d0d0d0;
    border-radius: 3px;
    box-shadow: black 0px 0px 2px;
    overflow: auto;
}

.moreinfo_header {
    margin: 0px;
    font-size: 17px;
    background: #1b1b1b;
    padding: 8px;
    color: white;
    font-style: italic;
    box-shadow: 0px 0px 3px grey;
    font-weight: normal;
}

.lvl-class {
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}

.label {
    font-size: 18px;
    font-weight: bold;
}

.fill-bar {
    background: rgba(39, 39, 39, 0.831);
    box-shadow: #1a1a1a 0px 0px 1px;
}

.fill {
    text-align: center;
    width: 80.8%;
    display: block;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    background: limegreen;
}

.row {
    width: 100%;
    display: block;
}

.mod_pill {
    background: rgba(255, 255, 255, 0.859);
    display: inline-block;
    width: 70px;
    padding: 5px;
    font-weight: bold;
    box-shadow: black 0px 0px 2px;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.mod_pill:hover {
    box-shadow: #32cd32 0px 0px 10px;
}

.mod_pill span {
    text-align: center;
    display: block;
}

.mod_title {
    font-size: 12px;
}

.mod_score {
    font-size: 28px;
}

.mod_raw {
    font-size: 12px;
    color: #2f2f2f;
}

.magic_stats {
    margin-top: 5px;
    text-align: center;
}

.fa-flask {
    color: #c12929;
}

.ability_scores {
    margin-bottom: 20px;
}

.magic_pill {
    background: rgba(255, 255, 255, 0.859);
    display: inline-block;
    width: 120px;
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: black 0px 0px 2px;
    border-radius: 2px;
}

.magic_pill:hover {
    box-shadow: #32cd32 0px 0px 10px;
}

.magic_pill span {
    display: block;
    text-align: center;
}

.magic_score {
    font-size: 28px;
    font-weight: bold;
    padding: 3px;
}

.magic_title {
    font-size: 12px;
    background: #2f2f2f;
    color: white;
    padding: 5px;
}

.spellbook {
    display: inline-block;
    max-width: 1000px;
    min-width: 511px;
    margin: 10px;
    max-height: 700px;
    vertical-align: top;
    width: 100%;
}

.spellbook span {
    display: block;
}

.spellwindow {
    display: inline-block;
    background: url("../img/simple-old-paper-2-transparent.jpg");
    background-size: cover;
    box-shadow: black 0px 0px 5px;
    width: 60%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    vertical-align: top;
    text-align: left;
    overflow: auto;
    min-height: 300px;
    height: 100%;
    max-height: 700px;
}

.spellbody {
    padding: 10px;
    padding-top: 0px;
    border-left: solid #c12929 3px;
}

.descwrap {
    margin-top: 10px;
}

.spellwindow span {
    margin-left: 10px;
}

.spellbanner {
    padding: 10px;
    padding-bottom: 0px;
    border-left: solid 3px #c12929;
}

.spellscription {
    font-style: italic;
    padding-bottom: 7px;
    margin-left: 0px;
}

.spellwindow h2 {
    font-weight: bold;
    padding-top: 10px;
    font-size: 36px;
    margin-left: 10px;
    font-family: "Alegreya";
}

.spellwindow a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

.spellwindow a:visited {
    color: inherit;
}

.spellwindow a:hover {
    color: #a51010;
}

/*
.spellrow {
    margin: 3px;
} */

.spellwindow iframe {
    margin-top: 40px;
    width: calc(100% - 10px);
    margin-right: 5px;
    margin-left: 5px;
    height: 560px;
    border: none;
    box-shadow: black 0px 0px 2px;
}

.spell-list {
    background: url("../img/simple-old-paper-2-transparent.jpg");
    background-size: cover;
    box-shadow: black 0px 0px 5px;
    user-select: none;
    width: calc(40% - 25px);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    display: inline-block;
    overflow: auto;
    height: 100%;
    max-height: 700px;
}

#spells {
    padding: 5px;
}

#spell-toolbar {
    background: #1d1d1d;
    padding: 6px;
}

#spell-toolbar label {
    color: white;
    vertical-align: middle;
    font-size: 14px;
}

#library-toggle {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

#spell-search {
    border: none;
    padding: 5px;
    border-radius: 3px;
    background: white;
    font-family: inherit;
    font-size: 14px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

#spell-search:active {
    box-shadow: 0px 0px 5px white;
}

.spell-list span {
    display: inline-block;
}

div::-webkit-scrollbar-track {
    background-color: none;
}

div::-webkit-scrollbar {
    width: 12px;
    background-color: none;
    height: 12px;
}

div::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
}

.spell {
    font-size: 16px;
    background: #1d1d1d;
    display: inline-block;
    width: 100%;
    color: white;
    box-shadow: black 0px 0px 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: 0.1s;
    cursor: pointer;
}

.spellLevel {
    margin: 0px;
    border-bottom: 2px dotted black;
    font-size: 18px;
    margin: 5px;
    font-variant: small-caps;
    font-family: "Alegreya", sans-serif;
}

.spell:hover {
    background: rgba(255, 255, 255, 0.859);
    color: black !important;
    font-weight: bold;
}

.lvl {
    width: 15px;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.859);
    display: inline-block;
    color: white;
    box-shadow: black 0px 0px 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 7px;
    transition: 0.1s;
}

.richDice {
    position: absolute;
    box-shadow: black 0px 0px 5px;
    border-radius: 3px;
    min-width: 200px;
    background: rgba(255, 255, 255, 0.85);
    background-size: cover;
    overflow: hidden;
}

.richDice button {
    background: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: "Alegreya", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 3px;
    color: black;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    cursor: pointer;
}

.richDice a {
    color: #293b70;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;
}

.richDice a:hover {
    text-decoration: underline;
}

.richDice button:hover {
    background: #1d1d1d;
    color: white;
}

.richDice select {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
}

.buttons {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.richCaption {
    font-style: italic;
}

.richDice:hover {
    box-shadow: black 0px 0px 7px;
}

.richContent h3,
.richContent h4,
.richContent p,
.richContent span {
    margin: 0px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.richContent ul,
.richContent ol {
    margin: 0px;
    text-align: left;
    padding-right: 20px;
}

.richDice h3 {
    font-weight: bold;
    font-size: 30px;
}

.richDice h1,
.richDice h2,
.richDice h3,
.richDice h4 {
    font-family: "Alegreya", sans-serif;
}

.richDice label {
    margin: 0px;
    font-weight: bold;
    margin-top: 5px;
    font-family: "Alegreya", sans-serif;
}

.richDice label,
.richDice input {
    display: block;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.richDice input {
    border-radius: 2px;
    padding: 5px;
    border: solid 1px grey;
    width: calc(100% - 20px);
    max-width: 350px;
    background: white;
    color: black;
}

.richDice h4 {
    margin-top: 5px;
    font-size: 18px;
}

.richDice h4,
.richDice span {
    text-align: left;
}

.richContent {
    text-align: left;
    padding-top: 10px;
    background: rgba(255, 255, 255, 0.612);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    padding-bottom: 20px;
    overflow: overlay;
    max-width: 600px;
}

.richDice img {
    box-shadow: #1a1a1a 0px 0px 3px;
    max-width: 600px;
    max-height: 800px;
    margin-top: 10px;
}

.richBar {
    background: rgba(26, 26, 26, 0.922);
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: right;
    padding: 4px;
}

.richClose {
    display: inline-block;
    background: #a51010;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.richClose:hover {
    background: red;
    cursor: pointer;
}

.btn-main {
    padding: 5px;
    border-radius: 2px;
    background: white;
    border: 0px;
    font-family: "Timeless", Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 1px black;
    min-width: 70px;
    transition: 0.1s;
    cursor: pointer;
}

.btn-main:hover {
    background: black;
    color: white;
}

.dice-table {
    margin-left: 5px;
}

.pill-list {
    margin-left: 5px;
    margin-right: 5px;
}

.pill-list span {
    display: inline-block;
    background: white;
    padding: 4px;
    border-radius: 5px;
    border: solid 1px black;
    margin: 2px !important;
    padding-left: 6px;
    padding-right: 6px;
    vertical-align: middle;
}

@keyframes rolling {
    from {
        color: white;
        transform: rotate(0deg);
    }

    to {
        color: black;
        transform: rotate(720deg);
    }
}

.gfx_dice {
    display: inline-block;
    padding: 5px;
    min-width: 20px;
    height: 20px;
    margin: 5px;
    text-align: center;
    background: white;
    border-radius: 9px;
    border: solid 2px black;
    font-size: 16px;
    vertical-align: middle;
    line-height: 20px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    animation: rolling 1s;
}

.spelldesc {
    margin: 0px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    background: #181821;
    color: #c1cace;
    font-family: "Timeless", Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: left;
    box-shadow: 0px 0px 6px #1a1a1a;
}

footer span {
    font-style: italic;
    display: block;
    padding: 1px;
    margin-left: 5%;
    font-size: 16px;
}

footer a {
    text-decoration: none;
    transition: 0.2s;
    color: inherit;
}

footer h3 {
    font-size: 20px;
    margin-left: 5%;
    padding: 3px;
}

a:visited {
    color: inherit;
}

footer a:hover {
    color: #a51010;
}

.menu-generic {
    background: #181821;
    margin: auto;
    display: inline-block;
    padding: 10px;
    color: white;
    font-family: "Roboto", sans-serif;
}

.menu-generic h2 {
    font-size: 40px;
}

.caption-generic {
    font-style: italic;
}

.menu-generic h1,
.menu-generic h2,
.menu-generic h3,
.menu-generic h4 {
    font-family: "Alegreya", sans-serif;
    margin: 0px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border: 2px dotted white;
    padding: 20px;
}

.upload-header {
    font-size: 35px;
    font-weight: bold;
    font-family: "Alegreya", sans-serif;
}

.upload-caption {
    color: #c1cace;
    font-style: italic;
    font-family: "Timeless", sans-serif;
    font-size: 14px;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#main-menu {
    background: #181821;
    margin: auto;
    display: inline-block;
    border-radius: 2px;
    min-width: 300px;
    box-shadow: 0px 0px 5px #1a1a1a;
}

#MagicDiceLogo {
    display: none;
}

.menu-option {
    display: block;
    color: white;
    padding: 5px;
    font-size: 18px;
    margin: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.menu-option:hover {
    color: #181821;
    background: white;
    font-weight: bold;
}

/* New Loading Screen, Desktop/Tablet only */
@media only screen and (min-width: 797px) {
    #MagicDiceLogo {
        display: inline-block;
        max-width: 450px;
        vertical-align: middle;
    }

    #main-menu {
        vertical-align: middle;
        text-align: left;
        background: none;
        box-shadow: none;
    }

    .menu-option {
        text-shadow: 0px 0px 3px black;
    }

    .menu-option:hover {
        background: none;
        color: white;
        font-weight: normal;
        border-left: solid 4px #c72026;
        padding-left: 10px;
    }

    #main-wrap {
        vertical-align: middle;
    }

    .fullscreen-bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
    }

    #magic-BG {
        position: absolute;
        top: 0;
        height: 100%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.loading {
    color: white;
    display: inline-block;
    background: #181821;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #1a1a1a;
}

.window-big_box {
    width: 100%;
    height: -webkit-fill-available;
    height: -moz-available;
    max-height: 500px;
    font-family: inherit;
    font-size: 16px;
}

.loading-spin {
    font-size: 15px;
    border: solid 1px white;
    display: inline-block;
    padding: 3px;
    border-radius: 3px;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.toolbar-hero {
    background: rgba(17, 16, 23, 0.91);
    color: white;
    padding: 5px;
    text-align: right;
    padding-right: 3%;
    padding-left: 3%;
}

.toolbar-hero span {
    margin-right: 10px;
}

.toolbar-hero span,
.toolbar-hero i {
    vertical-align: middle;
    font-size: 18px;
}

.toolbar-hero i {
    padding: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.toolbar-hero i:hover {
    color: #FFC107;
}

.diceClick {
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    border: solid 1px black;
    background: white;
}

.diceClick:hover {
    color: #d02222 !important;
}

#load-menu {
    margin-left: 5%;
    margin-right: 5%;
}

.load-img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: inline-block;
}

.tint {
    height: 100%;
    background: rgba(29, 28, 39, 0.44);
}

.load-file span {
    font-style: italic;
    color: #cccccc;
    font-size: 14px;
}

.load-file {
    width: 100%;
    max-width: 220px;
    height: 230px;
    display: inline-block;
    box-shadow: 0px 0px 3px black;
    border-radius: 3px;
    color: white;
    vertical-align: top;
    margin: 10px;
}

.load-file h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Alegreya", sans-serif;
    color: white;
    text-shadow: 0px 0px 2px black;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.select-hover {
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.select-hover:hover {
    background: rgba(0, 0, 0, 0.66);
    cursor: pointer;
}

#hamburger-icon {
    position: fixed;
    top: 15px;
    z-index: 9000000;
    left: 15;
    color: white;
    font-size: 30px;
}

.active {
    color: #FFC107 !important;
}

#alertPopUp {
    position: fixed;
    top: 113px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: gold;
    text-shadow: 0px 0px 3px;
    width: 230px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(17, 16, 23, 0.61);
    font-size: 21px;
}

/* 
==================
    Slider CSS
==================
*/
/* The switch - the box around the slider */
.playerSwitch {
    position: absolute !important;
    right: 5px;
    top: 5px;
    vertical-align: middle;
}

.playerCaption {
    /* font-family: "Alegreya", sans-serif; */
    font-variant: petite-caps;
    font-size: 17px;
    font-weight: bold;
    padding-right: 5px;
    vertical-align: middle;
}

.playerSwitch:hover .playerCaption {
    visibility: visible !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #FFC107;
}

input:focus+.slider {
    box-shadow: 0 0 1px #FFC107;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toolbar-fixed {
    position: fixed;
    width: 100%;
    z-index: 9000;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.add-more {
    transition: 0.3s;
    cursor: pointer;
}

.add-more:hover {
    background: #0b0b13;
    color: #FFC107;
}

.empty img {
    margin: auto;
}

/*
==================
    MOBILE CSS
==================
*/

/* banner and menu ui changes for mobile */
@media only screen and (max-width: 414px) {
    .menu-option {
        display: block;
        color: white;
        font-size: 18px;
        margin: 10px;
        transition: 0.2s;
        cursor: pointer;
        background: rgba(24, 24, 33, 0.8);
        border-radius: 20px;
        padding: 10px;
        box-shadow: 0px 0px 3px #313131;
    }

    #MagicDiceLogo {
        display: inline-block;
        max-width: calc(100% - 40px);
    }

    .select-hover:hover {
        background: rgba(29, 28, 39, 0.44)
    }

    .pill-list {
        margin-left: 10px;
        margin-right: 10px;
    }

    .toolbar-hero i {
        font-size: 23px;
    }

    .toolbar-hero i:hover {
        color: unset;
    }

    .playerTools .fa {
        font-size: 22px;
    }

    #alertPopUp {
        position: fixed;
        top: 77px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        color: gold;
        text-shadow: 0px 0px 3px;
        width: 240px;
        padding: 10px;
        border-radius: 5px;
        background: rgba(17, 16, 23, 0.61);
        font-size: 16px;
        width: 120px;
    }

    .playerSwitch {
        position: unset !important;
        text-align: right;
    }

    .playerCaption {
        visibility: visible;
        font-size: 16px;
    }

    .playerBox {
        margin: 0px;
    }

    .load-file {
        height: auto;
    }

    .tint {
        height: auto;
        padding-bottom: 20px;
    }

    #banner img {
        height: 40px;
    }

    #banner {
        padding-bottom: 10px;
        position: fixed;
        width: calc(100% - 20px);
        z-index: 900000;
        vertical-align: top;
    }

    #main {
        padding-top: 85px;
    }

    #banner h2 {
        display: none;
    }

    #main-menu {
        min-width: auto;
        width: 100%;
        max-width: 300px;
        background: none;
        box-shadow: none;
    }

    .richDice {
        left: auto !important;
        top: auto !important;
        border-radius: 3px;
        position: relative;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .richContent {
        max-width: 100% !important;
        max-height: calc(100% * 1.5) !important;
    }

    .richContent h3,
    .richContent h4,
    .richContent p,
    .richContent span,
    .richContent select {
        margin-left: 15px;
        margin-right: 15px;
    }

    .richContent iframe {
        width: calc(100% - 5px) !important;
    }

    .toolbar-hero {
        text-align: center;
    }

    .spellbanner h2 {
        font-size: 40px;
        font-family: "Alegreya", sans-serif;
    }

    .spell {
        font-size: 14px;
        text-transform: uppercase;
    }

    .lvl {
        background: #181821;
        box-shadow: none;
        border-radius: 3px;
    }

    .spellwindow {
        width: auto;
        height: auto;
        background: white;
        padding-bottom: 10px;
        max-height: unset;
        width: auto;
    }

    .spellbanner {
        border-left: none;
    }

    .spellbody {
        border-left: none;
    }

    .descwrap {
        background: none;
        border-radius: 0px;
        box-shadow: unset;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
    }

    .spell-list {
        width: 100%;
        height: auto;
        top: 70px;
        left: 0;
        right: 0;
        background: white;
        max-height: unset;
    }

    .spellbook {
        max-height: unset;
        margin: 0px;
        min-width: unset;
    }

    .mobile-fullscreen {
        margin: 0px !important;
        padding-top: 70px !important;
        padding-bottom: 0px !important;
    }

    #magic-BG {
        display: none;
    }

    body {
        background: url('../img/bg/2.jpg');
        background-size: auto;
        background-position-y: bottom;
        background-clip: content-box;
        background-position-x: center;
        background-position-y: top;
        background-repeat: no-repeat;
        background-color: #0f1827;
    }
}

/* Player render changes */
@media only screen and (max-width: 955px) {
    html {
        background-color: unset;
        /* fix background images */
    }

    .playerBox img {
        position: absolute;
        z-index: -300;
        max-height: fit-content;
        min-width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }

    .playerBox {
        position: relative;
        overflow: hidden;
        margin-top: 0px;
    }

    .playerInfo h3,
    .lvl-class {
        text-align: center;
    }

    .ability_scores {
        text-align: center;
    }

    .playerInfo {
        width: fit-content;
    }

    .show_more {
        position: initial;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 120px;
    }
}

@media only screen and (max-width: 436px) {

    .magic-notification {
        font-size: 16px;
        font-family: "Timeless", sans-serif;
    }

    .magic-notification i {
        font-size: 19px;
        padding-right: 10px;
    }

    #notif-section {
        bottom: 50px;
    }

    .playerBox img {
        max-height: 100%;
    }

    .skl_tab {
        width: 100%;
        display: block;
        max-height: initial;
    }
}