#monster-board{
    max-height: 680px;
}
#init-ladder {
    background: #ffffff80;
    box-shadow: #1a1a1a 0px 0px 5px;
    display: inline-block;
    width: calc(30% - 32px);
    max-width: 400px;
    min-width: 300px;
    padding: 5px;
    vertical-align: top;
    height: 666px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-y: auto;
    margin-bottom: 20px;
    position: relative;
    max-height: 650px;
    height: 100%;
}

#init-options {
    margin: auto;
    left: 0px;
    right: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#battle-table {
    position: relative;
    display: inline-block;
    width: calc(70% - 23px);
    min-width: 450px;
    max-width: 900px;
    text-align: left;
    height: calc(100% + 10px);
    max-height: 660px;
}

#battle-list {
    background: #ffffff80;
    box-shadow: #1a1a1a 0px 0px 5px;
    height: calc(100% - 74px);
    padding: 10px;
    overflow-y: auto;
}

#battle-options {
    padding: 10px;
    margin-top: 5px;
    background: #ffffff80;
    box-shadow: #1a1a1a 0px 0px 5px;
    text-align: right;
}

.monster-pill {
    width: 165px;
    color: white;
    box-shadow: #989898 0px 0px 3px;
    background: white;
    background-size: cover;
    border-radius: 5px;
    border: 2px solid #32cd32;
    display: inline-block;
    overflow: hidden;
    margin: 2px;
    position: relative;
}

.monster-pill span {
    display: block;
    margin-top: 2.5px;
}

.monster-info {
    background: rgba(15, 15, 15, 0.747);
    padding: 5px;
    min-height: 225px;
}

.init-block {
    border-radius: 2px;
    background: #e2e2e2d1;
    height: 41px;
    font-family: "Timeless", Georgia, 'Times New Roman', Times, serif;
    box-shadow: #1a1a1a 0px 0px 2px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.init-block input {
    border-radius: 1px;
    border: none;
}

#init-list {
    min-height: calc(100% - 51px);
    margin-top: 5px;
}

.init-name {
    padding: 10px;
    width: calc(100% - 55px);
    float: left;
    background: none;
    color: black;
    font-size: 20px;
    font-family: Georgia, serif;
}

.init-roll {
    padding-left: 10px;
    padding-top: 9px;
    padding-bottom: 10px;
    width: 55px;
    float: right;
    font-size: 20px;
    font-family: Georgia, serif;
}

.btn-close {
    display: inline-block;
    background: #9e0000;
    color: white;
    border: none;
    padding: 5px;
    font-size: 18px;
    width: 31px;
    height: 31px;
    margin: 0px;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.lone-image {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 7px black;
}

.monster-buttons {
    font-size: 19px;
    padding-top: 5px;
    text-align: right;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
    padding-right: 5px;
    padding-left: 5px;
}

.monster-buttons i {
    margin-left: 2.5px;
    margin-right: 2.5px;
    transition: 0.1s;
    cursor: pointer;
}

.monster-buttons i:hover {
    color: gold;
}

/*
==================
    MOBILE CSS
==================
*/

/* Battle Table */
@media only screen and (max-width: 1034px) {
    #battle-table {
        min-width: auto;
        width: 100%;
        max-width: 539px;
    }
    #battle-list{
        min-height: 185px;
        height: auto;
    }

    #battle-options {
        text-align: center;
    }

    #init-ladder {
        width: auto;
        display: block;
        height: auto;
        max-width: auto;
        min-width: auto;
        margin: auto;
        margin-bottom: 20px;
    }

    #init-list {
        min-height: auto;
    }

    .monster-info {
        min-height: 185px;
    }
}

@media only screen and (max-width: 414px) {
    .btn-main {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .monster-pill {
        min-width: 140px;
        width: 47%;
    }
}